@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Ubuntu:wght@300;400;500&display=swap');




.cont{
    width: 60%;
  background-image: url("https://wallpapercave.com/dwp2x/wp4646390.jpg");
    background-size: cover;
  
}
.card:hover{
    transform: translateY(-5px);
}

.form-label{
    color: white;
}

a{
    text-decoration: none;
}

.mb-3{
    width: 30rem;  
}
.mb-3 label{
    color: black;
}

#me{
    position: relative;
    /* left: 210px; */
   
}

.nav-active:hover {
    text-decoration: underline;
  }

.badge1{
    font-family:'Ubuntu', sans-serif; 
    color: #F7F5EB;
    padding: 10px;
    /* background-color: #A75D5D; */
    border-radius: 10px;
    font-size: 3rem;


  }
  .nav-item:hover a{
    text-decoration: underline;
  }

  .img-hotel{
    position: relative;
    left: 200px;
  }

  #find-btn{
    margin-bottom: 5px;
  }
